.container {
  /* /* width: 320px; */
  margin: 40px auto;
  /* padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px; */
  text-align: center;
}

input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

h2 {
  margin-bottom: 12px;
}
